<br>
<div class="container" style="background: floralwhite">
  <br>
  <h5>Your Previous Orders</h5>
  <br>

  <table class="table table-success">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let userOrder of userOrders, let i=index;">
      <th scope="row">{{i+1}}</th>
      <td>{{userOrder.createdDate | date:'medium'}}</td>
      <td><button (click)="getDetails(userOrder.id)" class="btn btn-info">View Details</button></td>
    </tr>
    </tbody>
  </table>
  <br>
</div>
