<br>
<div class="container"  style="background: floralwhite">
  <br>
  <h5>Welcome to the store <code><span id="name"></span></code>, Choose your  products</h5>
  <br>

  <div class="row">
    <div class=" col-sm-3" style="width: 18rem;" *ngFor="let product of products">
      <img src="{{product.imageLocation}}" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title"><a routerLink="/product/{{product.id}}">{{product.name}}</a></h5>
          <p class="card-text">{{product.description}}</p>
          <footer class="blockquote-footer"> <cite title="price">₹</cite>{{product.price}}</footer>
        <input type="number" placeholder="Quantity" class="form-control quantity" id="quantity{{product.id}}">
        <a (click)="addToCart(product.id)" class="btn btn-primary addToCart">Add to cart</a>
      </div>
    </div>
  </div>

  <button type="button" id="successModal" [hidden]="true" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header alert-success">
          <h5 class="modal-title" id="exampleModalLabel">Success</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Product added to cart
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" id="warningModal" [hidden]="true" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"></button>
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header alert-warning">
          <h5 class="modal-title" id="exampleModalLabel2">Warning</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Add quantity for selected product before adding to cart
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>



