<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Demo Store</a>
    <div class="d-flex">
      <button (click)="cart()" class="btn btn-success" style="display: none;" id="shoppingCart"><span class="material-icons">shopping_cart</span> Cart</button>&nbsp;
      <button (click)="store()" class="btn btn-success" style="display: none;" id="store">Store</button>&nbsp;
      <button (click)="orders()" class="btn btn-success" style="display: none;" id="orders">Orders</button>&nbsp;
      <button (click)="signOut()" class="btn btn-danger" id="signOut" style="display: none;">Sign out</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
